{% extends "base.html" %}

	{% block body %}
	<div id="page-title">
		<div id="page-title-inner">
			<div class="container">
				<h2><i class="ico-justify  ico-white"></i>Mensaje</h2>
			</div>
		</div>	

	</div>

	<div id="wrapper">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="alert alert-success"><h3> Gracias por registrarte</h3></div>
					</br>
					<a href="/" class="btn btn-primary"> Iniciar Sesion </a>			
				</div>
			</div>
		</div>		
  	</div>	
    {% endblock %}
	